.all-transactions-container {
    border: 3px solid var(--color-tertiary);
    width: 600px;
    height: 500px;
    overflow-y: scroll;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    overflow-y: scroll;
    padding: 5px;

}