.all-transactions-container {
    border: 3px solid var(--color-tertiary);
    width: 650px;
    height: 700px;
    overflow-y: scroll;
    background-color: var(--color-secondary);
    display: flex;
    align-content: flex-start;
    justify-content:space-around;
    flex-wrap: wrap;

    padding: 5px;
    position: relative;


}
.total{
    width: 20%;
    height: 40px;
    color: var(--color-tertiary);
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bolder;
    align-items: center;
    background-color: blueviolet;
    position: absolute;
  
  
}
.total span{
   color: var(--color-tertiary);
   font-size: 25px;

  
}
.search{
    width: 100%;
    margin: 10px 0;
}
.search select{
    height: 25px;
    width: 100px;
}
.pagination{
    position: absolute;
    bottom: 0;
  
}
.pagination ul{
   display: flex;
  
}
.pagination li{
   margin-right: 10px;
   list-style-type: none;
  
}
.pagination button{
  border: none;
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  font-size: 20px;
  cursor: pointer;
  
}