.plus-container{
    background-color: var(--color-secondary);
width: 100%;
    z-index: 4;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.title-container{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-Secondary);
    font-size: 18px;
    background: linear-gradient(98deg,#2541b2 35%,#20a4f3 100%);
    box-shadow:0px 0px 6px 0px rgba(46,46,46,0.46);
    padding: 0px 10px;
    z-index: 5;

}
/* .positive,.negative{
    font-size: 22px;
    margin-left: 10px;
    font-weight: bolder;
    margin-top: 30px;
} */
.positive{
    color: green;
}
.negative{
    color: var(--color-red);
}
.title-container img{
   width: 40px;
   height: 40px;
   cursor: pointer;
}
.total-container{
    width: 100%;
    height: 8%;
    color: var(--color-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    box-shadow:0px 0px 6px 0px rgba(46,46,46,0.46);
    font-size: 20px;
}
.total-container span{
   font-size: 25px;
}
.debt-container{
    height: 67%;
    width: 100vw;
    color: var(--color-primary);
    text-align: left;
    overflow-y: auto;
    padding:0px 10px;

   
}
.debt-container h3{
    margin: 10px 0px;
    font-size: 28px;
   
}
.debt-container ul{


    list-style-type: none;
    font-size: 16px;
   
}
.debt-container li{
 display: flex;
 justify-content: space-between;
margin-top: 20px;
padding-bottom: 5px;
border-bottom: 1px solid rgba(0, 0, 0, 0.228) ;
   
}
.debt-container li button{
 border: none;
 border-radius: 8px;
 padding: 2px 5px;
 color: var(--color-secondary);
 background-color: var(--color-tertiary);
 cursor: pointer;


   
}
.btns-container{
height: 15%;
width: 100%;
background: linear-gradient(98deg,#2541b2 35%,#20a4f3 100%);
z-index: 5;
box-shadow:0px 0px 6px 1px rgba(46,46,46,0.46);
display: flex;
justify-content: space-around;
align-items: center;
}
/* .btn-transation{
    width: 100%;
    height: 35%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
} */
.btn-delete,.btn-payment,.btn-transation{
width: 80px;
height: 80px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
font-size: 15px;
/* background-color: var(--color-secondary); */
color:#ffffff;
cursor: pointer;
}
.btns-container img{
width: 40px;
height: 40px;
/* margin-top: 10px; */
}
.btn-delete img{
    width: 30px;
}
/* .btn-delete{
background-color: var(--color-red);
}
.btn-payment{
background-color: var(--color-green);
} */
.btn-transation img{
    width: 30px;
}
.modale-refund-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale-refund {
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);

    /* display: flex; */
    color: var(--color-primary);
    /* justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; */
    text-align: center;
    padding: 20px;
}
.modale-refund h3{
   font-size: 35px;
}
.modale-refund form{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modale-refund input{
    border: none;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 80px;
    outline: none;
    text-align: center;
    margin-top: 30px;
}
.btns-modale-container{
    height: 20%;
      width: 70%;
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
  margin-top: 60px;
  
  
  }
  .yes,.no{
      width: 80px;
      height: 32px; 
      border: none;
      font-size: 20px;
      border-radius: 8px;
      cursor: pointer;
  }
  .yes{
      background-color: var(--color-green);
  }
  .no{
      background-color: var(--color-red);
  }




/* .modale-container {
    position: fixed;
    inset: 0;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    color: var(--color-primary);
}

.modale-container h2 {
    margin-bottom: 60px;
    font-size: 40px;
    color: var(--color-tertiary);
}

.modale {
    width: 650px;
    height: 690px;
    background-color: var(--color-secondary);
    position: relative;
    border: 3px solid var(--color-tertiary);
    margin-top: 145px;
    border-radius: 10px 20px 20px 20px;
}

.btn-toggle-modale {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    border: none;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    cursor: pointer;
}

.modale h2 {
    text-align: center;
    color: var(--color-primary);
    font-size: 30px;
    margin-top: 40px;
}

.modale ul {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80%;
    padding: 20px;

}

.modale li {
    list-style-type: none;

    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-tertiary);

    margin-bottom: 5px;
    font-size: 20px;


}

.modale span {
    font-size: 25px;
    color: var(--color-primary);
}

.btn-refund {
    border: none;
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-tertiary);
    padding: 5px;
    font-size: 22px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 10px;

}


.modale-refund-container {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modale-refund {
    width: 300px;
    height: 300px;
    background-color: var(--color-secondary);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.modale-refund form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.modale-refund label {
    color: var(--color-tertiary);
    font-size: 30px;
}

.modale-refund input {
    color: var(--color-tertiary);
    font-size: 20px;
    margin-top: 20px;
}

.modale-refund .btn-refund {
    color: var(--color-tertiary);
    font-size: 20px;
    border: 2px solid var(--color-tertiary);
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 5px;
    margin-top: 20px;
}

.close-modale-btn {
    position: absolute;
    border: none;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: var(--color-secondary);
    font-size: 25px;
}

@media screen and (max-width: 1280px) {
    .modale {
        width: 600px;
        height: 550px;

    }

    .modale h2 {

        margin-top: 10px;
    }

    .modale li {

        font-size: 17px;


    }

    .btn-refund {

        font-size: 17px;
        margin-bottom: 10px;


    }

}

@media screen and (max-width: 600px) {

    .modale {
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;
        border-radius: 0px;

    }

    .modale li {

        font-size: 15px;


    }

    .modale span {
        font-size: 15px;

    }

    .modale button {
        font-size: 14px;

    }

    .modale-container {
        background-color: aqua;
        overflow-y: unset;
    }

} */