:root {
  --color-primary: #00072d;
  --color-secondary: #ffffff;
  --color-tertiary: #001c55;
}
@font-face {
  font-family: 'Deeper';
  src: url('../../public/assets/fonts/TT\ Interphases\ Pro/interphase.ttf');

}

*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color-primary) ;
  color:var(--color-secondary);
  font-family: "deeper";
  max-height: 100vh;
}










