:root {
  --color-primary: #040116;
  --color-secondary: #ffffff;
  --color-tertiary: #f66a12;
}

*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--color-primary) ;
  color:var(--color-secondary);
}





