.payment-container{
    position: fixed;
    z-index: 10;
    inset: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
}
.payment-container form{
    height: 100%;
    /* background-color: blue; */
}
.payment-container h3{
font-size: 28px;
margin-top: 40px;
}
.input-container{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.step2-container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.step3-container{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.step2-container h3{
font-size: 22px;
}
.amount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amount-container input{
    border: none;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 80px;
    outline: none;
    text-align: center;
    margin-top: 30px;
}
.btns-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    padding: 0px 30px;

}
.btn-valide,.btn-cancel{
    border: none;
    width: 40%;
    /* height: auto; */
    padding: 15px 5px;
    font-size: 24px;
    outline: none;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
    /* background-color: var(--color-green); */
}
.btn-cancel{
    background-color: var(--color-red);
}
.btn-valide{
    background-color: var(--color-green);
}
.input-container h3{
  
    font-size: 24px;

}
.checkbox-container{
    width: 100%;
    height: 80%;

    overflow-y: scroll;
    margin-top: 20px;
}
.label-and-checkbox{
    width: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.label-and-checkbox label{
  font-size: 20px;
}
.label-and-checkbox input[type=checkbox]{
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
.note-container{
    width: 100%;
    height: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
   

}
.note-container input{
    width: 80%;
    height: 30%;
    border-radius: 8px;
    font-size: 22px;
    padding: 10px;
  


}