

   .transaction-container {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
   
  }
   .transaction-container h3{
    font-size: 28px;
    margin: 10px 0px;
  
   
  }
  
  .table {
    width: 100%; 
    /* height: 100%; */
    border-collapse: collapse;
    table-layout: fixed; 
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 4px;
    width: 20%; 
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    text-align: left;
    font-size: 13px;
  }
  .table tr{
    height: 40px;
    
   
  }
  .table tr:nth-child(odd){
    height: 40px;
    background-color: rgba(110, 143, 241, 0.165);

   
  }
  
  .table th {
    background-color: #f2f2f2;
    font-size: 16px;
  }

  
