.transaction-card{
    width: 300px;
    height: 200px;
    background-color: var(--color-secondary);
    border: 2px solid var(--color-primary);
    margin: 3px;
    border-radius: 5px;
    padding: 10px;
    color: var(--color-tertiary);
    overflow: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}
.transaction-card h2{
 margin-bottom: 5px;
}
.transaction-card span{
font-weight: bold;
color: var(--color-tertiary);
}
.transaction-card p{
 color:var(--color-primary);
 margin-bottom: 5px;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.transaction-card ul{
display: flex;
overflow-x: auto;
}
.transaction-card li{
color: var(--color-primary);
list-style-type: none;
/* overflow-x: auto; */

}